<% if notice.present? %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <h1><%= @team.name %></h1>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <hr/>
  </div>
</div>
<% today = Date.today %>
<% @team.current_members.each do |member| %>
    <div class="row">
      <div class="span1 offset3">
        <%= link_to image_tag(member.icon_url), member.link %>
      </div>
      <div class="span3">
        <% if member.charged_at < today %>
            <h2 style="color: #808080;"><%= member.name %></h2>
        <% else %>
            <h2><%= member.name %></h2>
        <% end %>
      </div>
      <div class="span2">
        <% if member.charged_at == today %>
            <h2 style="color: red"><%= date_format(member.charged_at) %></h2>
        <% elsif member.charged_at < today %>
            <h2 style="color: #808080;"><%= date_format(member.charged_at) %></h2>
        <% else %>
            <h2><%= date_format(member.charged_at) %></h2>
        <% end %>
      </div>
  </div>
<% end %>

<div class="row">
  <%= link_to 'Back', teams_path %>
</div>
